# Subject: Data Science Foundation

## Session 13 - Correlation in Python.

### Assignment 1 -  Calculating Correlation for pandas Dataframe "Titanic"


- Considering the Correlation analysis presented in Demo 1 develop a new one for the data set “Titanic”. 
- Select the variables most appropriate and justify your option.
- Commit scripts in your GitHub account. You should export your your solution code (.ipynb notebook) and push it to your repository “DataScienceFoundations”.
- The following are the tasks that should complete and synchronize with your repository “DataScienceFoundations” until November 23. Please notice that this task will not be graded, however it’s important that you correctly understand and complete them in order to be sure that you won’t have problems with further assignments.

Guidelines:
- Clone the Git repository to get an initial code: 
https://github.com/FGutierresBTS/BTS_MasterInBigData.git
- Once you downloaded the repository to your local file system, go to the folder “BTS_MasterInBigData/ Session_13_DSF”. 
- Copy the folder “Session_13_DSF” into your local folder “DataScienceFoundations”. 
- In the folder “Session_13_DSF” you will see the files called: 
    -	BTS_DataScienceFoundations_Session13_Correlation_Individual_assignment.ipynb.
    -   "1_titanic_dataset.csv" (note: this dataset must be pre-processed).
- Import these files into Jupyter Notebook using the “Upload” button. 
- Open the imported script and put your code inside the notebook. 
- Export your Assignment *.ipynb notebook and push it to your repository “DataScienceFoundations”.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
df=pd.read_csv("C:\BTS_Master\BTS_DataScienceFoundations\Session_13/1_titanic_dataset.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Categorical Variables:

In [2]:
df.drop(['PassengerId', 'Fare', 'Age'], axis=1).corr(method='spearman')['Survived']

Survived    1.000000
Pclass     -0.339668
SibSp       0.088879
Parch       0.138266
Name: Survived, dtype: float64

the Pclass seems to have a significant influence in the probability of survival, we should use this one, SibSp and Parch doesnt seem to influence that much

## Continuous Variables:

In [3]:
df.drop(['PassengerId', 'Pclass'], axis=1).corr()['Survived']

Survived    1.000000
Age        -0.077221
SibSp      -0.035322
Parch       0.081629
Fare        0.257307
Name: Survived, dtype: float64

Only Fare seems to be worth using here

### We can also convert Sex  to numerical and then study the correlation

In [4]:
df['Sex_num'] = df['Sex'].map({'female': 0, 'male': 1}).astype(int)

In [5]:
df.drop(['PassengerId', 'Fare'], axis=1).corr(method='spearman')['Survived']

Survived    1.000000
Pclass     -0.339668
Age        -0.052565
SibSp       0.088879
Parch       0.138266
Sex_num    -0.543351
Name: Survived, dtype: float64

The higher correlation is between survival and sex with a negative correlation, the class 1 in sex is male and 0 for female, and males have a lower probability of survival, we definitely need to use 'Sex_num'

In [6]:
df['family'] = df['SibSp'] + df['Parch']

In [7]:
df.drop(['PassengerId', 'Fare'], axis=1).corr(method='spearman')['Survived']

Survived    1.000000
Pclass     -0.339668
Age        -0.052565
SibSp       0.088879
Parch       0.138266
Sex_num    -0.543351
family      0.165463
Name: Survived, dtype: float64

the size of family onboard, sum of the features 'SibSp' and 'Parch', might also be worth using

In [8]:
def cabin(number):
    if type(number) is str:
        return number[0]
    else: return 0
    
df['cab']= df['Cabin'].apply(cabin)
df.cab.unique()

array([0, 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [9]:
df['cab'].replace('A',1, inplace=True)
df['cab'].replace('B',2, inplace=True)
df['cab'].replace('C',3, inplace=True)
df['cab'].replace('D',4, inplace=True)
df['cab'].replace('E',5, inplace=True)
df['cab'].replace('F',6, inplace=True)
df['cab'].replace('G',7, inplace=True)
df['cab'].replace('T',8, inplace=True)

In [10]:
df.drop(['PassengerId', 'Fare'], axis=1).corr(method='spearman')['Survived']

Survived    1.000000
Pclass     -0.339668
Age        -0.052565
SibSp       0.088879
Parch       0.138266
Sex_num    -0.543351
family      0.165463
cab         0.315855
Name: Survived, dtype: float64

we should also use the 'cab' column, anyone who has a cabin has a higher probability of survival.

In [11]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [12]:
y = df['Survived'].values
X = df[['Pclass', 'Fare', 'Sex_num', 'family', 'cab']].values

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [14]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [15]:
model.score(X_test, y_test)

0.77578475336322872

77,58% accuracy with these variables